@import url('/mikser/node_modules/tipso/src/tipso.css');

.tipso_style {
	border: none;
}

.mikser-guide-url {
	font-size: 13px;
	font-family: monospace;
	color: #AAA;
}

.mikser-guide-file,
.mikser-guide-line,
.mikser-guide-column {
	color: #FFF;
}

.mikser-guide-copy {
	text-decoration: none;
	cursor: pointer;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}