
#nprogress .bar {
	height: 10px;
}

#nprogress.mikser-feedback-warning .bar {
  background: yellow;
}

#nprogress.mikser-feedback-warning .peg {
  box-shadow: 0 0 10px yellow, 0 0 5px yellow;
}

#nprogress.mikser-feedback-error .bar{
  background: red;
}

#nprogress.mikser-feedback-error .peg {
  box-shadow: 0 0 10px red, 0 0 5px red;
}